*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.heading-css {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 53.36px;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: -1.601px;
}

.p-css {
  color: #1a191a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 29.44px */
}

.cta {
  width: 183px;
  height: 50px;
  border: 2px solid #000;
  background-color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.content-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.marquee {
  background: #f9e300;
  height: 84px;
  font-size: 18.4px;
  display: flex;
  font-style: italic;
  font-weight: 400;
  align-items: center;
}

.content-h2 {
  color: var(--dart-white, #fff);
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 53.36px;
  font-style: normal;
  font-weight: 700;
  line-height: 66.967px;
  letter-spacing: -1.601px;
}

.feature-section {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.image-h4 {
  font-size: 26.829px;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}

.image-p {
  font-size: 17.631px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.img-box img {
  width: 95.7px;
  height: 94.105px;
  margin-bottom: 10px;
}

.feature-section {
  background: url(images/image-132x.png), rgb(45, 62, 162) 50% / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

.service-heading {
  font-family: "Poppins";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  color: #1b1d21;
}

.service-img {
  width: 488px;
  height: 662px;
  background: url(images/rectangle-11392x.png), lightgray 50% / cover no-repeat;
}

.accordion-btn {
  color: #1a191a;
  font-family: "Plus Jakarta Sans" sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.accordion-content {
  color: #1a191a;
  font-family: "Plus Jakarta Sans" sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.12px;
}

.service-card {
  /* width: 400px;*/
  height: 300px;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-top: 5rem;

  text-align: center;
  border-radius: 20px;
  box-shadow: 0px -8px 26px -5px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease;
}
.service-card:hover {
  background-color: #47328b;
  color: #fff;
}
.service-card:hover .service-header {
  color: #fff;
}

.service-header {
  color: #000;
  font-family: "Plus Jakarta Sans" sans-serif;
  font-size: 41.285px;
  font-style: normal;
  font-weight: 700;
  line-height: 66.056px;
  display: inline-block;
}

.service-inline-img {
  width: 45.964px;
  height: 45.964px;
  margin-bottom: 22px;
}

.growth-section {
  width: 100%;
  height: 571px;
  background: url(images/image-132x.png), rgb(0, 0, 0) 50% / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
.growth-img img {
  border-radius: 25px;
  overflow: hidden;
  width: 398px;
  height: 479px;
}
.cta-img img {
  /* width: 454px; */
  height: 468px;
}
.growth-content h2 {
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.96px; /* 63.96px */
  letter-spacing: -1.56px;
}

.image-p {
  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans" sans-serif;
  font-size: 18.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.912px; /* 30.912px */
}
.growth-cta {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  margin-left: 0.5rem;
}

.blog-card {
  min-width: 18rem;
  margin-bottom: 1.5rem;
}

.blog-card img {
  width: 100%;
}

.blog-title {
  color: #1a191a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 27.868px;
  font-style: normal;
  font-weight: 700;
  line-height: 34.138px; /* 34.138px */
}

.blog-content {
  color: #959595;
  font-family: "plus Jakarta Sans", sans-serif;
  font-size: 14.434px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.486px; /* 19.486px */
  margin: 1rem 0;
}
.blog-card-content {
  margin-top: 1.5rem;
}

.stat-head {
  color: #1a191a;
  font-family: "Poppins" sans-serif;
  font-size: 42.85px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.996px; /* 46.667% */
  margin-top: 1rem;
}

.stat-content {
  color: #1a191a;
  font-family: "Poppins" sans-serif;
  font-size: 14.283px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.996px; /* 140% */
}

.blog-btn-cta {
  background: #1a191a;
  color: #fff;
  border: none;
}

.client-heading {
  color: #1a191a;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 90% */
}

.client-img {
  /* width: 1190px; */
  height: 545px;
  background: url(images/screenshot-20230711-at-358-12x.png),
    lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-input {
  width: 640px;
  height: 97px;
  border-radius: 12.642px;
  border: 2px solid #000;
  background: #fff;
  overflow: hidden;
}

.cta-input input {
  width: 100%;
  height: 100%;
  outline: none;
}

.cta-button {
  position: absolute;
  right: 1rem;
  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16.855px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.39px; /* 162.5% */
  padding: 1rem 2rem;
  background: #1a191a;
  border-radius: 4.214px;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}
.cta-input-box {
  padding: 0.6rem 2rem;
}

.testimonial-heading {
  color: #1a191a;
  text-align: center;
  font-family: "Plus Jakarta Sans" sans-serif;
  font-size: 53.36px;
  font-style: normal;
  font-weight: 400;
  line-height: 125.5%; /* 66.967px */
  letter-spacing: -1.601px;
}
.testimonial-content {
  width: 752.929px;
  color: #000;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 22.679px;
  font-style: normal;
  font-weight: 600;
  line-height: 36.286px; /* 36.286px */
  letter-spacing: -1.134px;
}

.testimonial-name {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.4px; /* 38.4px */
}

.form-img {
  max-width: 700px;
  max-height: 500px;
}

.form-img img {
  width: 100%;
  height: 100%;
}

.form-label {
  color: #f2f2f2 !important;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 2px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 37.5px; /* 250% */
}

.form-control {
  background: none !important;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0%;
}

.submit-btn {
  background: #fecf08;
  padding: 0.7rem 2rem;
  border: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.footer-card {
  text-align: center;
}

.footer-card-image {
  width: 50px;
  height: 50px;
  background-color: #fecf08;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-head {
  font-size: 12px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #fecf08;
}
.footer-content {
  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16.651px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Media Queries */

@media (max-width: 600px) {
  .image-box img {
    max-width: 100% !important;
  }
  .marquee {
    padding: 0.8rem 0;
  }

  .content-h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .services-section {
    padding: 20px 10px !important;
  }
  .service-img {
    max-width: 100%;
  }
  .service-card {
    margin-bottom: 1.5rem;
  }

  .growth-section {
    padding: 20px 10px !important;
    height: auto !important;
    text-align: center;
  }
  .growth-img img {
    width: 100%;
  }

  .growth-content {
    padding: 10px 0 !important;
  }
  .growth-content h2 {
    font-size: 36px;
    line-height: 45px;
  }

  .blog-section {
    padding: 20px 10px !important;
  }
  .blog-section div {
    padding: 5px !important;
  }

  .cta-input {
    position: relative;
  }
}
